[user]
    name = Denilson
    ;email = denilson@mplus.software
    email = denilson020898@gmail.com
[alias]
    lol = log --oneline --graph --decorate --max-count=10
    gud = log --oneline --graph --decorate --all
    lola = log --oneline --graph --decorate --all
    adu = add -u .
    s = status
    a = add -A
    c = commit -m
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    path = nvim
[difftool "vimdiff"]
    path = nvim
[core]
    editor = nvim
	excludesfile = ~/.gitignore_global
[http]
	postBuffer = 157286400
[cola]
	spellcheck = false
